<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITraderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:23379/TraderService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITraderService"
                contract="TraderServiceRef.ITraderService" name="BasicHttpBinding_ITraderService" />
        </client>
    </system.serviceModel>
</configuration>