################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TraderService/packages
/TraderService/TraderService/Bin
/TraderService/TraderServiceTests/bin/Debug
/TraderService/TraderServiceTests/obj
/Trader/Trader/obj
/Trader/Trader/bin/Debug
/Trader/packages
