@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Lily Agua</h1>
    <input name="encrypt"/>
    <button name="encrypt-button">Encrypt</button>
    <div class="js-encryption-output"></div>
</div>